@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=PT+Serif');

/* General */

body {
	/*background: #1BBC9B;*/ /* Green */
	background: #B87333; /* Copper */
	padding-bottom: 20px;
}

.iframe-contact {
	width: 90%;
	height: 760px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.container {
	background: #FEEFC8; /* Tan */
}

.hdr .container {
	background: #227733; /* Green */
	/*background: #006A9E;*/ /* Blue */
}

.content-center {
	text-align: center;
}

.top-pad-40 {
	padding-top: 40px;
}

footer .container {
	font: normal 16px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	color: #fff;
	text-align: center;
	background: #B87333; /* Copper */
	/*background: #1BBC9B;*/ /* Green */
	padding: 20px;
}

footer .container a {
	color: #fff;
}

/* Center The Top Fixed Nav */

.navbar-fixed-top {
	z-index: 10;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar {
	text-align: center;
	background-color: #227733; /* Green */
	/*background-color: #9E9774;*/ /* Gray-Green */
	border-bottom: 0px;
}

/* Nav Links */

.nav li {
	padding: 6px;
}

.nav a {
	padding: 5px !important;
	border: 1px solid #227733; /* Green */
	/*border: 1px solid #9E9774;*/ /* Gray-Green */
	font: normal 17px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif !important;
	color: #fff !important;
	text-transform: uppercase;
}

.nav a:hover {
	border: 1px solid #fff;
	font-weight: normal;
}

.navbar-brand, .navbar-text {
	font: normal 17px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	color: #fff !important;
}

/* Top Menu Button */

.navbar-text {
	padding-right: 5px;
}

.navbar-header button {
	background-color: #fff;
	border-color: #9E9774 !important; /* Gray-Green */
}

.navbar-header button:hover {
	background-color: #FEEFC8 !important; /* Tan */
}

.navbar-header .icon-bar {
	background-color: #9E9774 !important; /* Gray-Green */
}

/* Header */

.hdr {
	min-height: 230px;
	background: #227733; /* Green */
	/*background: #006A9E;*/ /* Blue */
	padding: 20px 25px 15px;
}

.hdr h1 a{
	font: normal 55px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: 8px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.hdr p {
	font: normal 14px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: 3px;
	text-transform: none;
	color: #fff;
}

/* Homepage Container */

.homepage {
	z-index: 5;
	background: #FEEFC8; /*url("../images/homepage-bg.jpg") center center no-repeat;*/ /* Tan */
	/*background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
	margin-top: -40px;
}

.homepagecovertext {
	font: normal 16px "PT Serif", Georgia, "Times New Roman", Times, serif;
	color: #B87333;
	text-align: center;
}

.homepagecovertext p {
	text-align: justify;
}

.homepagecovertext a {
	display: inline-block;
	font-size: 24px;
	color: #006A9E; /* Blue */
	margin: 20px;
}

/* Main Container */

.main {
	z-index: 5;
	margin-top: -40px;
	padding-bottom: 20px;
	font: normal 18px "PT Serif", Georgia, "Times New Roman", Times, serif;
	color: #3D3D3D;
}

.main h1 {
	font: normal 44px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: 6px;
	margin: 30px 0;
}
.main h2 {
	font: normal 26px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: 3px;
	margin: 20px 0;
}

/* Books and Book Colors */

.book-top-pad {
	padding-top: 80px;
}

.cover {
	width: 90%;
	margin: 40px auto;
	padding: 10px;
	color: #fff;
}

.cover p {
	font-size: 14px;
}

.bella-fortuna-color {
	background: #E1BB74;
}

.carissima-color {
	background-color: #85BCA5;
}

.stella-mia-color {
	background-color: #FFAE59;
}

.rosalia-color {
	background-color: #B95E3F;
}

.when-the-snow-falls {
	background-color: #A1AFBC;
}

/* Links and Buttons */

.link-button1 a {
	display: inline-block;
	margin: 5px;
	padding: 3px;
	background: #006A9E; /* blue */
	border-radius: 2px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	text-decoration: none;
	font: bold 18px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	color: #fff;
}
.link-button1 a:hover {
	background: #53A7EA; /* light blue */
}

/* Images */

.img-center {
	display: inline-block;
	width: 100%;
	margin: 10px auto;
}

.img-about {
	width: 250px;
	height: 235px;
	background: url("../images/rosannaheadshot.jpg") center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	border: 5px solid #9E9774; /* Gray-Green */
	margin: 0 auto 60px;
}

/* Secondary Pages */

.secondary-pages {
	font: normal 18px "PT Serif", Georgia, "Times New Roman", Times, serif;
	color: #3D3D3D;
	padding: 10px;
}

.secondary-pages h2 {
	font: normal 26px Lato, "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: 3px;
}

 /* Quotes and Reviews */

blockquote {
	margin: 10px;
	padding: 5px;  
	border: 1px solid #F4F3EC; 
	background: #D8C59D; 
	color: #7F0000;
}

.blockquote-link1 a {
	color: #7F0000;
	padding: 1px;
	border-bottom: 1px solid ;
	text-decoration: none;
}

.blockquote-link1 a:hover {
	color: #7F0000;
	border-bottom: 2px dashed ;
}

/*****************/
/* Media Queries */

@media (max-width: 768px) {

	.hdr {
		min-height: 150px;
		padding: 60px 15px 25px;
	}

}

@media (max-width: 991px) {

	.book-top-pad {
		padding-top: 0;
	}

}